* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s linear;
  text-transform: capitalize;
}
html {
  height: -webkit-fill-availabe;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.body{
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  height: -webkit-fill-availabe;
}

.main-container {
  background: url(D7A458F9-7D3A-40A2-935C-5CEA400A639C.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.background-text h2 {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.background-text h2 span {
  color: #ffc61a;
}
.background-text h3{
    color: white;
    font-size: 40px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-60%, -50%);
}

.home-container {
  background: #ffc61a;
  padding: 2rem 7%;
  width: 100%;
  padding-top: 4rem;
}
.home-content {
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.inner-content {
  flex: 1 1 45rem;
  padding: 2rem;
}
.inner-content h2 {
  font-size: 31px;
}
.inner-content h2 {
  font-size: 38px;
}
.inner-content p{
    font-size: 15px;
}
.tarif-principal {
  padding: 3rem 7%;
}
.tarif-principal h1 {
  font-size: 38px;
  text-align: center;
  padding-bottom: 6rem;
}
.inner-tarif {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  text-align: center;
}
.tarif-container {
  flex: 1 1 250px;
}
.tarif-container .inner-box h2 {
  font-size: 30px;
}
.tarif-container .inner-box h2 {
  color: #ffc61a;
  font-size: 2rem;
}
.tarif-container:nth-child(2) {
  background: #ffc61a;
}

